/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### node ###
src/coduner-executor/node_modules
src/coduner-executor/build
src/coduner-executor/.vscode
package-lock.json

### MAC ###
*.DS_Store

### Perf tests ###
nodeLoadTestResults.csv